@charset "UTF-8";
.top {
  display: flex;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__top {
  display: none;
}

@media screen and (min-width: 480px) {
  .header__top {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__top {
    display: flex;
    justify-content: center;
    padding: 35px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__top {
    display: flex;
    justify-content: center;
    padding: 35px;
    margin-left: auto;
  }
}

.head__btn {
  display: none;
}

@media screen and (min-width: 480px) {
  .head__btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .head__btn {
    display: flex;
    margin-left: auto;
    padding: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .head__btn {
    display: flex;
    margin-left: auto;
    padding: 27px;
  }
}

.header__li {
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .header__link {
    margin-left: 50px;
    padding: 5px;
    font-family: Inter;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.1pt;
    color: #131314;
  }
}

@media screen and (min-width: 1200px) {
  .header__link {
    margin-left: 50px;
    padding: 26px;
    font-family: Inter;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.1pt;
    color: #131314;
  }
}

.logo {
  width: 60px;
  height: 24px;
  padding: 30px;
}

.header__btn {
  width: 112px;
  height: 40px;
  border: 4px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.25));
}

.header__btn:hover, .header__btn:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  top: 55px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu__btn {
    display: none;
  }
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  z-index: 1;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.link {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 0em;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.marging--top--auto {
  margin-top: auto;
}

.flex {
  display: block;
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .flex {
    display: flex;
  }
}

.marging--top {
  margin-top: 25px;
}

.background {
  background-color: #f3f4f4;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.buton {
  cursor: pointer;
}

body {
  font-family: "roboto";
  color: var(--main-text-color);
}

.head {
  font-family: "roboto";
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section:last-child {
  padding-bottom: 0;
}

.projects-list:htn-chil(4n) {
  padding-right: 0;
}

.section__none {
  display: none;
}

@media screen and (min-width: 768px) {
  .section__none {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section__none {
    display: block;
  }
}

.title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.29pt;
  color: #131314;
}

@media screen and (min-width: 768px) {
  .title {
    margin-top: 30px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 0.29pt;
    color: #131314;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-top: 300px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 0.29pt;
    color: #131314;
  }
}

.hero__btn {
  width: 247px;
  height: 54px;
  margin-top: 40px;
  border: 4px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.25));
}

.hero__btn:hover, .hero__btn:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

.hero__text {
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.29pt;
  color: #46474e;
}

@media screen and (min-width: 768px) {
  .hero__img {
    width: 300px;
    height: 300px;
    position: absolute;
    margin-left: 400px;
    margin-top: -300px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__img {
    min-width: 676px;
    min-height: 676px;
    position: absolute;
    margin-left: 500px;
    margin-top: -620px;
  }
}

.title__books {
  width: auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.22pt;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .title__books {
    width: 476px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.22pt;
    color: #000000;
  }
}

@media screen and (min-width: 1200px) {
  .title__books {
    width: 476px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.22pt;
    color: #000000;
  }
}

.books__img {
  margin-left: auto;
  margin-right: auto;
}

.track__text {
  text-align: center;
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.29pt;
  color: #46474e;
}

@media screen and (min-width: 768px) {
  .track__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

@media screen and (min-width: 1200px) {
  .track__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 432px;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

.track {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .track {
    margin-right: 30px;
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .track {
    margin-right: 30px;
    width: 600px;
  }
}

.track2 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .track2 {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .track2 {
    width: 600px;
  }
}

.title__track {
  width: auto;
  margin-top: 30px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.22pt;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .title__track {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.22pt;
    color: #000000;
  }
}

@media screen and (min-width: 1200px) {
  .title__track {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.22pt;
    color: #000000;
  }
}

.title__statistics {
  width: 351px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.22pt;
  color: #000000;
}

.news__img {
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .news__img {
    min-width: 420px;
    min-height: 203px;
  }
}

@media screen and (min-width: 1200px) {
  .news__img {
    min-width: 420px;
    min-height: 203px;
    position: absolute;
    margin-left: 531px;
    margin-top: -400px;
  }
}

.news__img2 {
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .news__img2 {
    min-width: 420px;
    min-height: 203px;
  }
}

@media screen and (min-width: 1200px) {
  .news__img2 {
    min-width: 420px;
    min-height: 203px;
    position: absolute;
    margin-left: 740px;
    margin-top: -160px;
  }
}

.news__text {
  width: auto;
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.29pt;
  color: #46474e;
}

@media screen and (min-width: 768px) {
  .news__text {
    width: 432px;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

@media screen and (min-width: 1200px) {
  .news__text {
    width: 432px;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

.news__title {
  margin-top: 200px;
  width: 315px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.29pt;
  color: #131314;
}

.team__title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 315px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.29pt;
  color: #131314;
}

.team__text {
  text-align: center;
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.29pt;
  color: #46474e;
}

@media screen and (min-width: 768px) {
  .team__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 705px;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

@media screen and (min-width: 1200px) {
  .team__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 705px;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

.team__img {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer__img1 {
  width: 95px;
  position: absolute;
  margin-left: 184px;
  margin-top: -28px;
}

.footer__img2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__img2 {
    display: block;
    width: 95px;
    position: absolute;
    margin-left: 1200px;
    margin-top: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__img2 {
    display: block;
    width: 95px;
    position: absolute;
    margin-left: 1200px;
    margin-top: 84px;
  }
}

.footer__img4 {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__img4 {
    display: block;
    width: 270px;
    position: absolute;
    margin-left: 1000px;
    margin-top: -236px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__img4 {
    display: block;
    width: 270px;
    position: absolute;
    margin-left: 1000px;
    margin-top: -236px;
  }
}

.footer__title {
  padding-top: 77px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.29pt;
  color: #131314;
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 0.29pt;
    color: #131314;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 0.29pt;
    color: #131314;
  }
}

.pre__text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  letter-spacing: 0.29pt;
  color: #46474e;
}

.footer__text {
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  line-height: 2.78;
  letter-spacing: 0.29pt;
  color: #46474e;
}

@media screen and (min-width: 768px) {
  .footer__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 444px;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 11px;
    line-height: 2.78;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 444px;
    margin-top: 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 11px;
    line-height: 2.78;
    letter-spacing: 0.29pt;
    color: #46474e;
  }
}

.footer__btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 247px;
  height: 54px;
  margin-top: 40px;
  border: 4px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.25));
}

.footer__btn:hover, .footer__btn:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

.footer__bottom {
  margin-left: auto;
}

.footer__link {
  padding: 12px;
  font-family: Inter;
  font-weight: 900;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.1pt;
  color: #131314;
}
/*# sourceMappingURL=main.css.map */