.news__img {
  min-width: 420px;
  min-height: 203px;
  position: absolute;
  margin-left: 531px;
  margin-top: -400px;
}

.news__img2 {
  min-width: 420px;
  min-height: 203px;
  position: absolute;
  margin-left: 740px;
  margin-top: -160px;
}

.news__text {
  width: 432px;
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.29pt;
  color: #46474e;
}

.news__title {
  margin-top: 200px;
  width: 315px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.29pt;
  color: #131314;
}
