.track__text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 432px;
  margin-top: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.29pt;
  color: #46474e;
}

.track {
  margin-right: 30px;
  width: 600px;
}

.track2 {
  width: 600px;
}

.title__track {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.22pt;
  color: #000000;
}
